@import "../../App.scss";

.loading{
  background-color: rgba($color: #fff, $alpha: 1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  color: $font-color;
  width: $game-container-size;
  height: $game-container-size;
  font-size: 50px;
  font-family: $font-display;
  position: absolute;
  left: 50%;
  right: 50%;
  top: $game-container-margin;
  transform: translateX(-50%);
  border-radius: 30px;
  opacity: 0;
  transition: color 2s cubic-bezier(0.165, 0.84, 0.44, 1) 2s, backdrop-filter 2s cubic-bezier(0.165, 0.84, 0.44, 1) 2s, opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.loading-fade-in{
  background-color: rgba($color: #fff, $alpha: 1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  opacity: 1;
}

.loading-animation{
  width: 200px;
  background-color: rgba($color: #000000, $alpha: 0.1);
  height: 10px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.loading-animation::after{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0px;
  content: "";
  background-color: rgba(255, 0, 0, 0.7);
  animation: 5s loadingAnimation infinite;
}

@keyframes loadingAnimation {
  0%{
    width: 0px;
  }
  100%{
    width: 100%;
  }
}
