@import "../../App.scss";

.popup-container{
  width: $game-container-size;
  font-family: $font-display;
  height: $game-container-size;
  padding-bottom: 90px;
  position: absolute;
  top: $game-container-margin;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  border-radius: 4px;

  .show{
    opacity: 1;
  }

}

.popup{
  opacity: 0;
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  width: 400px;
  height: 90px;
  border: $game-container-border;
  border-radius: $game-container-radius;
  gap: 4px;

  h2{
    padding: 0;
    margin: 0;
  }
}
