#encounter-screen{
  background-color: white;
  width: 1200px;
  height: 1200px;
  opacity: 0;
  padding: 0;

  .battle-section{
    width: 100%;
    height: 75%;
    background-color: rgba($color: #000000, $alpha: 0.2);
    justify-content: space-between;
    position: relative;
  }

  .wild-pokemon{
    position: absolute;
    top: 0;
    right: 0;
  }

  .img-container{
    position: relative;
    overflow: visible;
  }

  #pokemonImage{
    width: 384px;
    height: 384px;
    background-size: contain;
    transition: 0.2s ease-in-out;
  }

  .pokemonImageShadow{
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 60px;
    background-color: rgba($color: #000000, $alpha:0.75);
    z-index: -1;
    border-radius: 50%;
    filter: blur(25px);
  }

  .player-section{
    position: absolute;
    bottom: 0;
    left: 0;
    align-items:end;
  }

  .battle-interface{
    height: 25%;
  }

  .system-message{
    background-color: pink;
    height: 100%;
    font-size: 30px;
  }

  .inferface-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    padding: 0;
    padding-left: 15px;

    .button{
      width: 100%;
      background-color: pink;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      font-weight: 700;
    }
  }

  #pokemonBallAnimation{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .ball-container{
    position: fixed;
    top: 650px;
    left: 25px;
    width: 64px;
    height: 104px;
    background-size: 448px 104px;
    background-image: url("public/pokeballs/pokeball/Throwing.png");
    opacity: 0;
  }

  .name-tag{
    background-color: white;
    border:5px double black;
    border-style: double;
    height: fit-content;
    margin: 30px;
  }

  .name{
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 700;
  }

  .shiny-icon{
    width: 30px;
    height: 30px;
  }
}

.catching::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 155px;
  width: calc(200px / 3);
  height: 104px;
  background-size: 200px 104px;
  background-position: calc(200px / 3 * 2);
  background-image: url("./public/pokeballs/pokeball/Catching.png");
  animation: 2s catchingAnimation steps(2) infinite;
  transform-origin: bottom center;
}

$pokeballTilt: 20deg;

@keyframes catchingAnimation{
  0%, 100% { transform: rotate(-$pokeballTilt); }
  50% { transform: rotate($pokeballTilt); }
}

.catching-fail::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 155px;
  width: calc(200px / 3);
  height: 104px;
  background-size: 200px 104px;
  background-position: calc(200px / 3 * 2);
  background-image: url("./public/pokeballs/pokeball/Fail.png");
  animation: 0.5s catchingFail steps(2) infinite;
}

@keyframes catchingFail{
  0%, 100% { background-position: -0px 0px; }
  50% { background-position: calc(-200px / 3 * 2) 0px; }
}

.catching-success::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 155px;
  width: calc(200px / 3);
  height: 104px;
  background-size: 124px 104px;
  background-position: calc(200px / 3 * 2);
  background-image: url("./public/pokeballs/pokeball/Success.png");
  animation: 1s catchingSuccess steps(1) forwards;
}

@keyframes catchingSuccess{
  0%, 100% { background-position: -0px 0px; }
  50% { background-position: -62px 0px; }
}

.fade-in{
  animation: flashingFadeIn 2s forwards;
}

@keyframes flashingFadeIn {
  0%   { opacity: 0; }
  25%  { opacity: 0.5; }
  50%  { opacity: 1; }
  75%  { opacity: 0.5; }
  100% { opacity: 1; }
}

.ball-animation{
  opacity: 0;
  animation:
  y 0.8s cubic-bezier(0,480,1,480),
  x 0.8s linear,
  0.5s ballthrow steps(6) infinite ;
  animation-delay: 0.22s;
}

.flash::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(207, 207, 207);
  filter: blur(50px);
  opacity: 1;
  animation: fadeout 1.5s forwards
}

@keyframes ballthrow {
  0%, 100% { background-position: -0px 0px; }
  50% { background-position: -384px 0px; }
}

@keyframes fadeout {
  to {
    opacity: 0;
    filter: blur(300px);
  }
}
@keyframes x {
  to {
    opacity: 1;
    left: 975px;
  }
}
@keyframes y {
  to {
    transform: translateY(-1.8px);
  }
}

.unshow{
  opacity: 0;
}
