#encounter-screen{
  background-color: white;
  width: 1200px;
  height: 1200px;
  opacity: 0;
  padding: 0;

  .battle-section{
    width: 100%;
    height: 75%;
    background-color: rgba($color: #000000, $alpha: 0.2);
    justify-content: space-between;
    position: relative;
  }

  .wild-pokemon{
    position: absolute;
    top: 0;
    right: 0;
  }

  .img-container{
    position: relative;
    overflow: visible;
  }

  #pokemonImage{
    width: 384px;
    height: 384px;
    background-size: contain;
  }

  .pokemonImageShadow{
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 60px;
    background-color: rgba($color: #000000, $alpha:0.75);
    z-index: -1;
    border-radius: 50%;
    filter: blur(25px);
  }

  .player-section{
    position: absolute;
    bottom: 0;
    left: 0;
    align-items:end;
  }

  .battle-interface{
    height: 25%;
  }

  .system-message{
    background-color: pink;
    height: 100%;
    font-size: 30px;
  }

  .inferface-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    padding: 0;
    padding-left: 15px;

    .button{
      width: 100%;
      background-color: pink;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      font-weight: 700;
    }

  }

  .ball-container{
    position: fixed;
    top: 650px;
    left: 25px;
    // right: unset;
    // bottom: unset;
    // left: 705px;
    // top: -10px;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    opacity: 0;
    // will-change: transform, opacity;
    // transform: translateZ(0);
  }

  .name-tag{
    background-color: white;
    border:5px double black;
    border-style: double;
    height: fit-content;
    margin: 30px;
  }

  .name{
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 700;
  }

  .shiny-icon{
    width: 30px;
    height: 30px;
  }
}

.fade-in{
  animation: flashingFadeIn 2s forwards;
}

@keyframes flashingFadeIn {
  0%   { opacity: 0; }
  25%  { opacity: 0.5; }
  50%  { opacity: 1; }
  75%  { opacity: 0.5; }
  100% { opacity: 1; }
}

.ball-animation{
  // animation: throwBall 3s infinite;
  opacity: 0;
  animation:
  y 0.8s cubic-bezier(0,480,1,480),
  x 0.8s linear;
  animation-delay: 0.22s;
}

@keyframes x {
  to {
    opacity: 1;
    left: 975px;
  }
}
@keyframes y {
  to {
    transform: translateY(-1.8px);
  }
}
