@import "../../App.scss";

$background-image-sacle: 1.4;

#encounter-screen{
  background-color: white;
  width: 1200px;
  height: 1200px;
  opacity: 0;
  padding: 0;
  transition: 1s ease-in;

  .battle-section{
    width: 100%;
    height: 75%;
    background-image: url("./battle-bg.jpg");
    background-size: calc(1168px * $background-image-sacle) calc(868px * $background-image-sacle);
    background-position: -150px -300px;
    background-repeat: no-repeat;
    justify-content: space-between;
    position: relative;
  }

  .wild-pokemon{
    position: absolute;
    top: 0;
    right: 0;
  }

  .img-container{
    position: relative;
    overflow: visible;
  }

  #pokemonImage{
    width: 384px;
    height: 384px;
    background-size: contain;
    transition: 0.2s ease-in-out;
    z-index: 3;
  }

  .pokemonImageShadow{
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 70px;
    background-color: rgba($color: #000000, $alpha:0.75);
    z-index: 1;
    border-radius: 50%;
    filter: blur(25px);
  }

  .player-section{
    position: absolute;
    bottom: 0;
    left: 0;
    align-items:end;
  }

  .battle-interface{
    height: 25%;
  }

  .system-message{
    background-color: pink;
    height: 100%;
    font-size: 30px;
  }

  .inferface-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    padding: 0;
    padding-left: 15px;

    .button{
      width: 100%;
      background-color: pink;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      font-weight: 700;
      transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    }

    h2{
      font-weight: 700;
      padding: 0;
      margin: 0;
    }

    .interface-pokeball-image{
      width: 42px;
      height: 42px;
      background-size: cover;
      margin: -10px 10px 0 0;
    }

    .interface-image-large{
      width: 60px;
      height: 60px;
    }

    .active{
      background-color: red;
      color: white;
    }
  }

  #pokemonBallAnimation{
    position: absolute;
    top: 50%;
    left: 155px;
    z-index: 2;
  }

  .ball-container{
    position: fixed;
    top: 650px;
    left: 25px;
    width: 64px;
    height: 104px;
    background-size: 448px 104px;
    background-image: url("/pokeballs/pokeball/Throwing.png");
    opacity: 0;
  }

  .name-tag{
    background-color: white;
    border:$game-container-border;
    height: fit-content;
    margin: 30px;
  }

  .name{
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 700;
  }

  .shiny-icon{
    width: 30px;
    height: 30px;
  }
}

.inventory-overlay{
  width: 100%;
  height: 100%;
  transition: 0.25s cubic-bezier(0.215, 0.610, 0.355, 1);

  .pokeball-section, .bait-section{
    padding: 5px;
    transition: 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .inventory{
    width: 400px;
    background: rgba(255,255,255,0.8);
    padding: 30px;
    border: $game-container-border;
    border-radius: 10px;
  }

  .inventory-item, .inventory-bar, .item-image, .bag-split{
    padding: 0;
    margin: 0;
  }

  .bag-split{
    height: 3px;
    border-top: 5px double $font-color;

  }

  .inventory-bar{
    height: 1px;
    border: 1px solid rgba(0,0,0,0.2);
  }

  .pokeball-section:nth-child(4) .inventory-bar, .bait-section:last-child .inventory-bar{
    display: none;
  }

  .active{
    background: rgba($color: #000000, $alpha: 0.5);
    color:white;
  }

  h3{
    padding: 0;
    margin: 0;
    text-transform: capitalize;
  }
}

.fade-in{
  animation: flashingFadeIn 2s forwards;
}


.catching{
  content: "";
  position: absolute;
  top: 50%;
  left: 155px;
  width: calc(200px / 3);
  height: 104px;
  background-size: 200px 104px;
  background-position: calc(200px / 3 * 2);
  background-image: url("/pokeballs/pokeball/Catching.png");
  animation: 2s catchingAnimation steps(2) infinite;
  transform-origin: bottom center;
}

$pokeballTilt: 20deg;

@keyframes catchingAnimation{
  0%, 100% { transform: rotate(-$pokeballTilt); }
  50% { transform: rotate($pokeballTilt); }
}

.catching-fail{
  content: "";
  position: absolute;
  width: calc(200px / 3);
  height: 104px;
  background-size: 200px 104px;
  background-position: calc(200px / 3 * 2);
  background-image: url("/pokeballs/pokeball/Fail.png");
  animation: 0.5s catchingFail steps(2) infinite;
}

@keyframes catchingFail{
  0%, 100% { background-position: -0px 0px; }
  50% { background-position: calc(-200px / 3 * 2) 0px; }
}

.berryFadeAnimation{
  animation: 3s berryFadeAnimation forwards;
}

@keyframes berryFadeAnimation {
  0%{
    opacity: 1;
  }

  15%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.catching-success{
  content: "";
  position: absolute;
  top: 50%;
  left: 155px;
  width: calc(200px / 3);
  height: 104px;
  background-size: 124px 104px;
  background-position: calc(200px / 3 * 2);
  background-image: url("/pokeballs/pokeball/Success.png");
  animation: 1s catchingSuccess steps(1) forwards;
}

@keyframes catchingSuccess{
  0%, 100% { background-position: -0px 0px; }
  50% { background-position: -62px 0px; }
}

@keyframes flashingFadeIn {
  0%   { opacity: 0; }
  25%  { opacity: 0.5; }
  50%  { opacity: 1; }
  75%  { opacity: 0.5; }
  100% { opacity: 1; }
}

.ball-animation{
  opacity: 0;
  animation:
  y 0.8s cubic-bezier(0,480,1,480),
  x 0.8s linear,
  0.5s ballthrow steps(6) infinite ;
  animation-delay: 0.22s;
}

.flash::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(255, 255, 127);
  filter: blur(50px);
  opacity: 1;
  animation: fadeout 1.5s forwards
}

@keyframes ballthrow {
  0%, 100% { background-position: -0px 0px; }
  50% { background-position: -384px 0px; }
}

@keyframes fadeout {
  to {
    opacity: 0;
    filter: blur(300px);
  }
}
@keyframes x {
  to {
    opacity: 1;
    left: 975px;
  }
}
@keyframes y {
  to {
    transform: translateY(-1.8px);
  }
}

.unshow{
  opacity: 0;
}

.runAway{
  animation: runAwayAnimation 1s forwards;
}

@keyframes runAwayAnimation{
  0%{
    transform: translateX(0) scale(1) translateY(0) rotate3d(0, 0, 0, 0deg);
    opacity: 1;
  }

  100%{
    transform: translateX(300px) scale(0.5) translateY(-200px) rotate3d(0, 2, 0, 90deg);
    opacity: 0;
  }
}
